body{
    height: 100vh;
    background-color: #101010;
}

.container{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 200px;
    width: 500px;
    background: #F8F8F8;
    padding-bottom: 30px;
    border-radius: 20px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 9px;
    width: 100%;
    margin-top: 30px;
    
}


.text-arreglemos{
    color: #101010;
    font-size: 45px;
    font-weight: 700;
    cursor: pointer;
}

.text-arreglemos:hover{
    transform: scale(1.05); /* Aumentar el tamaño al pasar el mouse */
}

.text-interactivo{
    color: #101010;
    font-size: 30px;
    font-weight: 700;
}

.underline{
    width: 61px;
    height: 4px;
    background: #101010;
    border-radius: 9px;
}

.inputs{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.input{
    display: flex;
    align-items: center;
    margin: auto;
    width: 400px;
    height: 40px;
    background-color: #eaeaea;
    border-radius: 6px;
}



.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color: #797979;
    font-size: 15px;
}

.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 15px;
}

.forgot-password span{
    color: #101010;
    cursor: pointer;
}

.submit-container{
    display: flex;
    gap: 30px;
    margin: 30px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 50px;
    color: #F8F8F8;
    background-color: rgb(102, 199, 45);
    border-radius: 20px;
    font-size: 18px;
    font-weight: 650;
    cursor: pointer;
    transition: transform 0.2s;
}

.submit:hover {
    transform: scale(1.1); 
}

.gray{
    background: #eaeaea;
    color: #676767;
}

